.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #393939;

    height: 65px;
}

.course-name {
    color: white;
    font-weight: bold;
}

.corner {
    flex: 1;
}