.user-input {
    padding-top: 30px;
    display: flex;
    flex-Direction: 'column';
    background-color: rgb(126, 117, 117);
    height: 100%;
    justify-content: center;

}

.background {
    background-color: black;
    flex: 1;
}

.corner {
    flex: 1;
}
