.circle {
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #AF3030;
  color: white;
  background-color: #AF3030;
  position: absolute;
  right: 13%;
  min-width: 250px;
  max-width: 500px;
  padding: 10px;
  margin-top: 10px;
}

.circle1 {
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #393939;
  color: white;
  background-color: #393939;
  position: absolute;
  left: 13%;
  max-width: 500px;
  min-width: 250px;
  border: 10px solid #393939;
  padding: 10px;
  margin-top: 70px;
}

.circle2 {
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #393939;
  color: white;
  background-color: #393939;
  border: 3px solid #393939;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.circle3 {
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #393939;
  color: white;
  background-color: #393939;
  position: absolute;
  left: 13%;
  max-width: 500px;
  min-width: 250px;
  border: 10px solid #393939;
  padding: 10px;

}

.container {
  display: flex; 
  flex-direction:column;
  background-color: rgb(98, 94, 94);
  flex: 1;
}

.hidden-component {
  display: none;
}

.text-color{
  color: white
}

